terraform {
  backend "s3" {
    bucket         = "<BUCKET_NAME>"
    key            = "networking/ec2-wireguard-proxy/terraform.tfstate"
    region         = "<REGION>"
    dynamodb_table = "terraform-state-lock"
    encrypt        = true
  }
}
